.col-current_rows_count { width: 150px; }
.col-notifications { width: 50%; }
td.col-notifications { padding-left: 1.5rem; }
.col-notifications > .col-resource_item {  display: list-item; list-style-type: disc; }

